APP_URL="https://roshgems.com"
DATABASE_URL=
JWT_SECRET=
ADMIN_EMAIL=admin@roshgems.com
ADMIN_PASSWORD_HASH=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
EMAIL_USER=roshgems@gmail.com
EMAIL_PASS=
NODE_ENV=production
